@use 'var';

%flexes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
%font {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
%center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@mixin flee($marr: 0px, $padd: 0px) {
    margin: $marr;
    padding: $padd;
}

html, body, head {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    height: 100vh;
    background-color: var.$background;   
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    @extend %font;
}
a {
    @extend %font;
}
.nav {
    width: 13%;
    height: var.$genHeight;
    margin: var.$genMargin;
    background-color: var.$white;
    @extend %flexes;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.company {
    @extend %center;
    flex-grow: 2;
    margin: 18% 0;
}
.links {
    height: 80%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        width: 70%;
        color: gray;
        font-size: 13px;
        background-color: var.$white;
        height: 4vh;
        display: flex;
        align-items: center;
    }
    img {
        width: 18px;
        margin-right: 6px;
    }
    .coloricon {
        width: 10px;
        border-radius: 100%;
    }
    .dashy {
        width: 90%;
        color: black;
    }
}
.links a:hover {
    background-color: rgb(240, 240, 240);
}
.selected {
    background-color: rgb(240, 240, 240);
}
.space {
    height: 30%;
}
.logout {
    margin-bottom: 15px;
    img {
        width: 18px;
        margin-right: 6px;
    }
    a {
        display: flex;
        align-items: center;
    }
}
.middle {
    width: 25%;
    height: var.$genHeight;
    margin: var.$genMargin;
    @extend %flexes;
    justify-content: space-between;
    position: relative;
}
.music {
    background-color: var.$white;
    height: 10%;
    width: 100%;
    @extend %flexes;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
        width: 38px;
        margin-left: 8px;
    }
    span {
        margin-right: 8px;
        font-size: 15px;
    }
    .musicbar {
        width: 55%;
        .playbar{
            background-color: gray;
            width: 50%;
            height: 8px;
            position: relative;
            bottom: 3px;
        }
        .totalplay {
            background-color: lightgray;
            width: 100%;
            height: 8px;
            position: relative;
            top: 5px;
        }
    }
}
.activity {
    background-color: var.$white;
    height: 42%;
    width: 100%;
    background-image: url(images/activitygraph4.png);
    background-size: 100% 103%;
}
.proplan {
    background-color: var.$white;
    height: 35%;
    width: 100%;
    background-image: url(images/pro2.png);
    background-size: cover;
}
.last {
    width: 30%;
    height: var.$genHeight;
    margin: var.$genMargin;
    @extend %flexes;
    justify-content: space-between;
}
.title {
    font-size: 27px;
}
.principles {
    background-color: var.$white;
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    .container{
        width: 92%;
        height: 125px;
        margin: 4% 4% 0% 4%;
        background: red url("images/more-leaves-on-green.png") top center repeat;
        @extend %flexes;
    }
    .headshot{
        width: 150px;
        margin: 0 5px 0px 45%; 
        position: relative;
        bottom: 65px;
    }
    span{
        display: flex;
    }
    
}
.text{
    margin: 2% 4%;
    display: flex;
    flex-direction: column;
    :nth-child(2){
        font-size: 10px;
    }
}
.level{
    @extend %flexes;
    flex-direction: row;
    justify-content: space-evenly;
    .advanced{
        display: flex;
        :first-child{
            margin-right: var.$rightmarg;
        }
    }
    .start{
        display: flex;
        :first-child{
            margin-right: var.$rightmarg;
        }
    }
    .classes{
        display: flex;
        :first-child{
            margin-right: var.$rightmarg;
        }
    }
}
.row {
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: space-between;
    .course {
        background-color: var.$white;
        width: 60%;
        height: 100%;
    }
    .scientist {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var.$white;
        width: 30%;
        height: 100%;
        span{
            font-size: 12px;
        }
        .pfp{
            width: 40px;
            height: 40px;
            border-radius: 100%; 
            margin-bottom: 10px;
        }
        .stocks{
            width: 90%;
            margin-top: 10px;
        }
    }
}

.blog {
    background-color: var.$white;
    width: 100%;
    height: 27%;
    background-image:url(images/blogs.png);
    background-size: 90% 103%;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}
.greeaa {
    background-color: aquamarine;
}
.course {
    @extend %flexes;
}
.top {
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    span {
        font-size: 22px;
        height: 60%;
        margin: 10px;
    }
    .dott {
        display: flex;
        align-items: center;
        margin: 2px 10px;
    }
}
.bars {
    width: 100%;
    display: flex;
    flex-direction: column;
    .child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 4px 0px;
        .words {
            display: flex;
            align-items: center;
            span {
                font-size: 14px;
            }
            img {
                margin: 0px 8px;
            }
            .squarea {
                width: 13px;
                height: 13px;
            }
            .Rtrgle {
                width: 13px;
                height: 13px;
            }
        }
        .lines {
            height: 10%;
            width: 50%;
            .redBar {
                width: 55%;
                height: 6px;
                background-color: rgb(216, 113, 113);
                position: relative;
                z-index: 1;
            }
            .greenBar {
                width: 30%;
                height: 6px;
                background-color: rgb(50, 235, 50);
                position: relative;
                z-index: 1;
            }
            .BredBar {
                width: 80%;
                height: 6px;
                background-color: rgb(224, 224, 224);
                position: relative;
                bottom: 6px;
            }
            .BgreenBar {
                width: 80%;
                height: 6px;
                background-color: rgb(224, 224, 224);
                position: relative;
                bottom: 6px;
            }
        }
    }
}
.inputs {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    input {
        margin-top: 10px;
        width: 40%;
        height: 60%;
        @extend %font;
    }
    .Bbutton {
        background-color: black;
        color: white;
        border: 0px solid black;
    }
    .Wbutton {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    .Bbutton:hover {
        color: lightgray;
    }
    .Wbutton:hover {
        color: gray;
    }
}
.Smiddle {
    width: 35%;
    height: var.$genHeight;
    margin: 68px;
    background-color: var.$white;
}
.Slast {
    width: 15%;
    height: var.$genHeight;
    margin: var.$genMargin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user {
    width: 100%;
    height: 48%;
    background-color: var.$white;
    @extend %flexes;
    .profile{
        width: 85%;
        height: 60%;
        @include flee;
        border: solid black 7px;
        border-radius: 51%;
        background-image: url(images/more-leaves-on-green.png);
        img{
            display: flex;
            width: 70%;
            height: 95%;
            margin-left: 15%;
            border-radius: 30%;
        }
    }
    :nth-child(2){
        margin: 10px;
    }
}
.comp{
    width: 100%;
    height: 46%;
    background-color: var.$white;
    @extend %flexes;
    .Info{
        font-size: 120%;
        margin: 10%;
    }
    .current{
        display: flex;
        flex-direction: column;
        margin: 10%;
        font-size: 90%;   
            div{
                margin-bottom: 15px;
            }
    }
    
}
.fff {
    @extend %flexes;
    height: 100%;
    justify-content: space-between;
    .Ttop {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 50px;
        }
    }
    .inputss {
        height: 65%;
        width: 100%;
        display: flex;
        .Ileft {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            span {
                font-size: 20px;
            }
        }
        .Iright {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            input {
                color: black;
                width: 60%;
                height: 15px;
            }
        }
    }
    .Ibottom {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            width: 30%;
            height: 35px;
            background-color: black;
            color: white;
            font-size: 20px;
        }
        input:hover {
            color: lightgray;
        }
    }
}
hr {
    height: 2px;
    background-color: black;
    width: 100%;
    position: relative;
    bottom: 20px;
}