@use 'var';

%flexes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
%font {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
%center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

html, body, head {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    height: 100vh;
    background-color: var.$background;   
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    @extend %font;
}
.nav {
    width: 13%;
    height: var.$genHeight;
    margin: var.$genMargin;
    background-color: var.$white;
    @extend %flexes;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.company {
    @extend %center;
    flex-grow: 2;
    margin: 18% 0;
}
.links {
    height: 80%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    span {
        width: 70%;
        color: gray;
        font-size: 13px;
        background-color: var.$white;
        height: 4vh;
        display: flex;
        align-items: center;
    }
    img {
        width: 18px;
        margin-right: 6px;
    }
    .coloricon {
        width: 10px;
        border-radius: 100%;
    }
    .dashy {
        width: 90%;
        color: black;
    }
}
.links span:hover {
    background-color: rgb(240, 240, 240);
}
.selected {
    background-color: rgb(240, 240, 240);
}
.space {
    height: 30%;
}
.logout {
    margin-bottom: 15px;
    img {
        width: 18px;
        margin-right: 6px;
    }
    span {
        display: flex;
        align-items: center;
    }
}
.middle {
    width: 30%;
    height: var.$genHeight;
    margin: var.$genMargin;
    background-color: var.$white;
}
.last {
    width: 30%;
    height: var.$genHeight;
    margin: var.$genMargin;
    background-color: var.$white;
}
.title {
    font-size: 27px;
}
.playbar{
    background-color: var.$background;
}