@use 'var';

%flexes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
%font {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
%center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

html, body, head {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    height: 100vh;
    background-color: var.$background;   
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    @extend %font;
}
a {
    @extend %font;
}
.nav {
    width: 13%;
    height: var.$genHeight;
    margin: var.$genMargin;
    background-color: var.$white;
    @extend %flexes;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.company {
    @extend %center;
    flex-grow: 2;
    margin: 18% 0;
}
.links {
    height: 80%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        width: 70%;
        color: gray;
        font-size: 13px;
        background-color: var.$white;
        height: 4vh;
        display: flex;
        align-items: center;
    }
    img {
        width: 18px;
        margin-right: 6px;
    }
    .coloricon {
        width: 10px;
        border-radius: 100%;
    }
    .dashy {
        width: 90%;
        color: black;
    }
}
.links a:hover {
    background-color: rgb(240, 240, 240);
}
.selected {
    background-color: rgb(240, 240, 240);
}
.space {
    height: 30%;
}
.logout {
    margin-bottom: 15px;
    img {
        width: 18px;
        margin-right: 6px;
    }
    a {
        display: flex;
        align-items: center;
    }
}
.middle {
    width: 25%;
    height: var.$genHeight;
    margin: var.$genMargin;
    @extend %flexes;
    justify-content: space-between;
    position: relative;
}
.music {
    background-color: var.$white;
    height: 10%;
    width: 100%;
    @extend %flexes;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
        width: 38px;
        margin-left: 8px;
    }
    span {
        margin-right: 8px;
        font-size: 15px;
    }
    .musicbar {
        width: 55%;
        .playbar{
            background-color: gray;
            width: 50%;
            height: 8px;
            position: relative;
            bottom: 3px;
        }
        .totalplay {
            background-color: lightgray;
            width: 100%;
            height: 8px;
            position: relative;
            top: 5px;
        }
    }
}
.activity {
    background-color: var.$white;
    height: 42%;
    width: 100%;
    background-image: url(images/activitygraph4.png);
    background-size: 100% 103%;
}
.proplan {
    background-color: var.$white;
    height: 35%;
    width: 100%;
    background-image: url(images/pro2.png);
    background-size: cover;
}
.last {
    width: 30%;
    height: var.$genHeight;
    margin: var.$genMargin;
    @extend %flexes;
    justify-content: space-between;
}
.title {
    font-size: 27px;
}
.principles {
    background-color: var.$white;
    width: 100%;
    height: 38%;
}
.row {
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: space-between;
    .course {
        background-color: var.$white;
        width: 60%;
        height: 100%;
    }
    .scientist {
        background-color: var.$white;
        width: 30%;
        height: 100%;
        .pfp{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            justify-content: center;
        }
    }
}

.blog {
    background-color: var.$white;
    width: 100%;
    height: 27%;
}
a {
    text-decoration: none;
}
.greeaa {
    background-color: aquamarine;
}