.fff, .course, .level, .principles .container, .last, .music, .middle, .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs input, a, span {
  font-family: "Noto Sans", sans-serif;
  font-family: "Signika", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.company {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

html, body, head {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  height: 100vh;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 13%;
  height: 87vh;
  margin: 30px;
  background-color: white;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.company {
  flex-grow: 2;
  margin: 18% 0;
}

.links {
  height: 80%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.links a {
  width: 70%;
  color: gray;
  font-size: 13px;
  background-color: white;
  height: 4vh;
  display: flex;
  align-items: center;
}
.links img {
  width: 18px;
  margin-right: 6px;
}
.links .coloricon {
  width: 10px;
  border-radius: 100%;
}
.links .dashy {
  width: 90%;
  color: black;
}

.links a:hover {
  background-color: rgb(240, 240, 240);
}

.selected {
  background-color: rgb(240, 240, 240);
}

.space {
  height: 30%;
}

.logout {
  margin-bottom: 15px;
}
.logout img {
  width: 18px;
  margin-right: 6px;
}
.logout a {
  display: flex;
  align-items: center;
}

.middle {
  width: 25%;
  height: 87vh;
  margin: 30px;
  justify-content: space-between;
  position: relative;
}

.music {
  background-color: white;
  height: 10%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.music img {
  width: 38px;
  margin-left: 8px;
}
.music span {
  margin-right: 8px;
  font-size: 15px;
}
.music .musicbar {
  width: 55%;
}
.music .musicbar .playbar {
  background-color: gray;
  width: 50%;
  height: 8px;
  position: relative;
  bottom: 3px;
}
.music .musicbar .totalplay {
  background-color: lightgray;
  width: 100%;
  height: 8px;
  position: relative;
  top: 5px;
}

.activity {
  background-color: white;
  height: 42%;
  width: 100%;
  background-image: url(images/activitygraph4.png);
  background-size: 100% 103%;
}

.proplan {
  background-color: white;
  height: 35%;
  width: 100%;
  background-image: url(images/pro2.png);
  background-size: cover;
}

.last {
  width: 30%;
  height: 87vh;
  margin: 30px;
  justify-content: space-between;
}

.title {
  font-size: 27px;
}

.principles {
  background-color: white;
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
}
.principles .container {
  width: 92%;
  height: 125px;
  margin: 4% 4% 0% 4%;
  background: red url("images/more-leaves-on-green.png") top center repeat;
}
.principles .headshot {
  width: 150px;
  margin: 0 5px 0px 45%;
  position: relative;
  bottom: 65px;
}
.principles span {
  display: flex;
}

.text {
  margin: 2% 4%;
  display: flex;
  flex-direction: column;
}
.text :nth-child(2) {
  font-size: 10px;
}

.level {
  flex-direction: row;
  justify-content: space-evenly;
}
.level .advanced {
  display: flex;
}
.level .advanced :first-child {
  margin-right: 10%;
}
.level .start {
  display: flex;
}
.level .start :first-child {
  margin-right: 10%;
}
.level .classes {
  display: flex;
}
.level .classes :first-child {
  margin-right: 10%;
}

.row {
  width: 100%;
  height: 22%;
  display: flex;
  justify-content: space-between;
}
.row .course {
  background-color: white;
  width: 60%;
  height: 100%;
}
.row .scientist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: 100%;
}
.row .scientist span {
  font-size: 12px;
}
.row .scientist .pfp {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-bottom: 10px;
}
.row .scientist .stocks {
  width: 90%;
  margin-top: 10px;
}

.blog {
  background-color: white;
  width: 100%;
  height: 27%;
  background-image: url(images/blogs.png);
  background-size: 90% 103%;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.greeaa {
  background-color: aquamarine;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 100%;
}
.top span {
  font-size: 22px;
  height: 60%;
  margin: 10px;
}
.top .dott {
  display: flex;
  align-items: center;
  margin: 2px 10px;
}

.bars {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bars .child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 4px 0px;
}
.bars .child .words {
  display: flex;
  align-items: center;
}
.bars .child .words span {
  font-size: 14px;
}
.bars .child .words img {
  margin: 0px 8px;
}
.bars .child .words .squarea {
  width: 13px;
  height: 13px;
}
.bars .child .words .Rtrgle {
  width: 13px;
  height: 13px;
}
.bars .child .lines {
  height: 10%;
  width: 50%;
}
.bars .child .lines .redBar {
  width: 55%;
  height: 6px;
  background-color: rgb(216, 113, 113);
  position: relative;
  z-index: 1;
}
.bars .child .lines .greenBar {
  width: 30%;
  height: 6px;
  background-color: rgb(50, 235, 50);
  position: relative;
  z-index: 1;
}
.bars .child .lines .BredBar {
  width: 80%;
  height: 6px;
  background-color: rgb(224, 224, 224);
  position: relative;
  bottom: 6px;
}
.bars .child .lines .BgreenBar {
  width: 80%;
  height: 6px;
  background-color: rgb(224, 224, 224);
  position: relative;
  bottom: 6px;
}

.inputs {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputs input {
  margin-top: 10px;
  width: 40%;
  height: 60%;
}
.inputs .Bbutton {
  background-color: black;
  color: white;
  border: 0px solid black;
}
.inputs .Wbutton {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.inputs .Bbutton:hover {
  color: lightgray;
}
.inputs .Wbutton:hover {
  color: gray;
}

.Smiddle {
  width: 35%;
  height: 87vh;
  margin: 68px;
  background-color: white;
}

.Slast {
  width: 15%;
  height: 87vh;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user {
  width: 100%;
  height: 48%;
  background-color: white;
}

.comp {
  width: 100%;
  height: 46%;
  background-color: white;
}

.fff {
  height: 100%;
  justify-content: space-between;
}
.fff .Ttop {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fff .Ttop span {
  font-size: 50px;
}
.fff .inputss {
  height: 65%;
  width: 100%;
  display: flex;
}
.fff .inputss .Ileft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.fff .inputss .Ileft span {
  font-size: 20px;
}
.fff .inputss .Iright {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.fff .inputss .Iright input {
  color: lightgray;
  width: 60%;
  height: 15px;
}
.fff .Ibottom {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fff .Ibottom input {
  width: 30%;
  height: 35px;
  background-color: black;
  color: white;
  font-size: 20px;
}
.fff .Ibottom input:hover {
  color: lightgray;
}

hr {
  height: 2px;
  background-color: black;
  width: 100%;
  position: relative;
  bottom: 20px;
}/*# sourceMappingURL=teams.css.map */